<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.springframework.org/schema/data/jaxb"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/index.html}">
<head>
<meta charset="utf-8">
<title>BEEBRICK | ADMIN</title>
	<style>
		.error{
			color: red;
		}
	</style>
</head>

<body>

	<!-- page content -->
	<div class="right_col" role="main" layout:fragment="content">
		<div class="">
			<div class="clearfix"></div>

			<!-- Start Page Content -->
			<!-- ============================================================== -->
			<!-- Row -->
			<form th:object="${category}" th:action="@{/admin/category/save}" action="#" method="post">
				<div class="row">
					<div class="col-lg-12 col-xlg-9 col-md-7">
						<div class="card">
							<!-- Tab panes -->
							<div class="card-body">
								<form class="form-horizontal form-material">
									<div class="form-group">
										<label class="col-md-12"th:for="categoryName">Tên loại sản phẩm</label>
										<div class="col-md-12">
											<input type="text" th:field="*{categoryName}" class="form-control form-control-line" id="CategoryName"/>
											<span th:if="${#fields.hasErrors('categoryName')}" th:errors="*{categoryName}" id="categoryName" class="error"></span>
			           						<span th:text=${message} id="categoryName" class="error"></span>
										</div>
									</div>
									<div style="clear: both; display: block; height: 10px"></div>
									<div class="form-group">
										<label th:for="description" class="col-md-12">Mô tả</label>
										<div class="col-md-12">
											<textarea th:field="*{description}" style="width: 1012PX; height: 175px" ></textarea>
										</div>
									</div>
									<div style="clear: both; display: block; height: 10px"></div>

									<div class="form-group">
										<div class="col-sm-12">
											<input type="submit" class="btn btn-success" value="Lưu" />
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<!-- Column -->
						</div>
			</form>
			<!-- Row -->
			<!-- ============================================================== -->
			<!-- End PAge Content -->
			<!-- ============================================================== -->
		</div>
	</div>

	<!-- /page content -->
	<script>
		$("#CategoryName").on('input', function(){
			var categoryName = document.getElementById("CategoryName").value;
			if(categoryName != ""){
				document.getElementById("categoryName").innerHTML = "";
			}
		});
	</script>
</body>
</html>